body{
    background-image: url('HD-wallpaper-sao-paulo-fc-brazil-clube-futebol-logo-sao-paulo-spfc.jpg');
    color: rgb(251, 251, 252);
    font-size: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 20px;

}
header{
    border: solid 2px red;
    background-color: rgb(241, 132, 132);
}
.pergunta{
    border: solid 2px red;
    background-color: rgba(15, 5, 5, 0.7);
    padding: 30px;
}